.cover__link {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 740px;
    width: 100%;
    color: white;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
}

.cover__link:before {
    content: "";
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.8s linear;
}

.cover__link:hover:before {
    opacity: 0.8;
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
}
